.row {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    background-color: hsl(0, 0%, 94%);
    border: 1px solid #ccc;
    width: 50%;
    margin-left: 3%;
    margin-top: 1%;
    padding: 0.2%;
    transition: background-color 0.3s ease;
}
  
/* Hover effect */
.row:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}
  